<nav class="sidebar-nav">
  <a
    class="nav-item"
    routerLink="/app/calendar"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <div class="icon-wrapper">
      <mat-icon>access_time</mat-icon>
    </div>
    <span class="nav-label">Calendario</span>
  </a>

  <a
    class="nav-item"
    routerLink="/app/patients"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <div class="icon-wrapper">
      <mat-icon>groups</mat-icon>
    </div>
    <span class="nav-label">Pacientes</span>
  </a>

  @if (isDoctor) {
    <a
      class="nav-item"
      routerLink="/app/doctors"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <div class="icon-wrapper">
        <mat-icon>group</mat-icon>
      </div>
      <span class="nav-label">Asistentes</span>
    </a>
  }

  @if (isDoctor) {
    <a
      class="nav-item"
      routerLink="/app/impresion"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <div class="icon-wrapper">
        <mat-icon>settings</mat-icon>
      </div>
      <span class="nav-label">Impresión</span>
    </a>
  }
</nav>
