:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .layout-body {
    flex-direction: column;
  }

  .main-content {
    order: 1;
  }

  app-sidebar {
    order: 2;
  }
}
